BpmApp/BpmProject/xsd/ProcessSchema.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://www.example.org/schema/processschema"
            targetNamespace="http://www.example.org/schema/processschema"
            elementFormDefault="qualified">
  <xsd:complexType name="ProcessType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="type" type="xsd:int"/>
      <xsd:element name="item" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
